<nav class="navbar navbar-expand-sm navbar-light fixed-top bg-light">
  <div class="container">
    <div class="navbar-brand" onclick="<%- data.router.main -%>">
      <img src="<%- data.img.src -%>" alt="logo" width="60pem" height="35pem" />
    </div>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-md-end" id="navbarCollapse">
      <ul class="navbar-nav">
        <% data.itemList.forEach((item) => { %>
        <li class="nav-item align-self-end">
          <a href="<%- item.href -%>" class="nav-link"></a>
        </li>
        <% }); %>
      </ul>
    </div>
  </div>
</nav>
